body {
  font-family: Garamond;
}

.header {
  font-style: italic;
}
.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}

#menu-table th {
  background-color: aqua;
  padding-top: 2px;
  padding-bottom: 2px;
}
#menu-table tr:nth-child(even) {
  background-color: gainsboro !important;
}
